$color-dark-gray: DarkGray;
$color-dark-red: DarkRed;
$color-dark-green: DarkGreen;
$color-red: red;
$color-yellow: yellow;
$color-green: green;
$color-white: #fff;
$color-black: #000;
$primary-color: #333;
$primary-border-color: #ccc;
